<style>*,
 :after,
 :before {
    box-sizing: border-box;
}

.main {
    flex-grow: 1;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.back-image {
    background-image: url("./");
    /* The image used */
    background-color: #6b7885;
    /* Used if the image is unavailable */
    width: 100%;
    height: auto;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding-bottom: 20px;
    margin: auto;
    scroll-behavior: smooth;
}

.wrapper1 {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;*/
}

body {
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.navigation {
    height: 65px;
    background: white;
    width: 85%;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-bottom: 2px;
    float: left;
    line-height: 65px;
    padding-top: 0px;
}

.res-image {
    width: 11.6vw;
    padding-left: 10px;
    height: auto;
    min-width: 145px;
    vertical-align: middle;
}

.res-image:hover {
    width: 13vw;
}

.brand a,
.brand a:visited {
    color: black;
    text-decoration: none;
}

.contact-b span {
    display: inline;
    color: white;
    background-color: #10AF7C;
    border: #10AF7C;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding-top: 3.5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 3.5px;
}

.contact-b span:hover {
    color: #10AF7C;
    background-color: white;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-list>li>a {
    text-decoration: none;
}

.back-text-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 300px;
    color: white;
}

.products {
    margin-left: 8%;
    margin-top: 15px;
}

.back-img-text {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
}

.back-img-text .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.back-img-text .row .col {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.back-img-text .row .col img {
    width: 100%;
    max-width: 360px;
    margin-top: 35px;
}

.back-img-text .row .col p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.back-img-text .row .col h4 {
    margin-top: 60px;
}

.arrow {
    text-align: center;
    background: #fff;
    padding: 8px 13px;
    border-radius: 50%;
    bottom: 10px;
    left: 48%;
    font-size: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    margin-top: 150px;
}

.arrow i {
    color: #04aa79;
}

.back-text-container h2 {
    padding-bottom: 11px;
    text-align: center;
}

.back-text-container h1 {
    line-height: 36px;
    color: white;
    padding-bottom: 28px;
    text-align: center;
}

.typewrite .wrap {
    color: white;
}

.typewrite {
    color: white;
    text-decoration: none;
}

.partner-contact {
    color: white;
    background-color: #04aa79;
    padding: 6px 13px;
    border-radius: 22px;
    border: #04aa79;
    border-style: solid;
    border-width: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 15px;
    cursor: pointer;
}

.back-text-container a {
    text-decoration: none;
}

.partner-contact:hover {
    color: #04aa79;
    background-color: white;
    cursor: pointer;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 15px;
    line-height: 65px;
    background: white;
    color: #384B42;
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:visited:hover {
    background: transparent;
    color: #10AF7C;
}

nav ul li a:not(:only-child):after {
    padding-left: 2px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    background: white;
    height: 65px;
    width: 65px;
}

@media only screen and (max-width: 1100px) {
    .back-img-text .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .back-img-text .row .col {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .back-img-text {
        margin-top: 20px;
    }
    .arrow,
    .arrow i {
        display: none;
    }
    .container2 {
        width: 93%;
    }
    .brand {
        position: absolute;
        padding-left: 20px;
        padding-bottom: 2px;
        float: left;
        margin-left: 15px;
        line-height: 65px;
    }
    .navigation {
        width: 100%;
        margin: 0 auto;
    }
    .nav-mobile {
        display: block;
    }
    nav {
        width: 99%;
        padding: 65.5px 0 15px;
        position: absolute;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 1101px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 25px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -8px;
}

#nav-toggle span:after {
    bottom: -8px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}


/* END OF SECTION 1 NAVBAR, BACKGROUND IMAGE AND INFORMATION -->*/

@media screen and (min-width: 1050px) {
    .specs-navbar {
        display: flex;
        flex-grow: 1;
        position: static;
        background-color: white;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .specs-navbar-label {
        pointer-events: none;
    }
    .specs-navbar-wrap {
        justify-content: flex-start;
    }
}

ul[class] {
    padding-left: 0;
    list-style: none;
}

.specs-navbar-section {
    height: 72px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 101;
}

.active .specs-nav-section-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #e3e3e3;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.specs-navbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: solid 1px #e3e3e3;
    min-height: 72px;
}

.active .specs-nav-section-inner .specs-navbar-wrap {
    border-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.specs-navbar>li.product-price {
    padding: 12px 20px;
    font-size: 12px;
    color: #6c6c6c;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.specs-navbar>li {
    white-space: nowrap;
    color: #4b4b4b;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.specs-navbar>li>a {
    cursor: pointer;
    color: inherit;
    display: block;
    padding: 12px 20px;
}

a {
    text-decoration: none;
    color: #428bc5;
}

.specs-navbar-label {
    color: #4b4b4b;
    font-size: 17px;
    font-weight: 900;
    margin-right: 15px;
}

@media screen and (max-width: 1050px) {
    .specs-navbar {
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        z-index: 50;
        background-color: #ececec;
        margin: 0 -15px 0;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
    }
    .specs-navbar-label:after {
        content: " ▾";
        font-family: "icomoon";
        color: #428bc5;
        display: inline-block;
        font-size: 1em;
        margin-left: 10px;
    }
    .container2 {
        text-align: center;
        margin: auto;
    }
}


/*End of fixed header*/

.container2 {
    text-align: center;
    margin: 7vw;
}

.container2 h2,
{
    margin: auto;
    font-size: 5vw;
    text-align: center;
}

.img-object {
    object-fit: cover;
    max-width: 100%;
}

.img-section img {
    display: inline-block;
}

.img-section {
    text-align: center;
}

.features-section {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 50px;
}

.container3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.feature-list li {
    padding: 0 6%;
    font-size: 20px;
    width: 33.333%;
    color: #1c1c1c;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (min-width: 770px) {
    .feature-list li {
        padding: 0 6%;
        font-size: 20px;
        width: 33.333%;
        color: #1c1c1c;
        margin-bottom: 40px;
    }
    .applications-list li {
        width: 20%;
    }
    .applications-list li .applications-icon {
        height: 60px;
    }
}

@media screen and (max-width: 769px) {
    .feature-list li {
        width: 50%;
        padding: 0 10px;
        text-align: center;
        font-size: 15px;
        margin-bottom: 30px;
        color: #3c3c3c;
    }
}

.feature-list li .img-object {
    display: inline-block;
    margin-bottom: 15px;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.feature-list img {
    max-width: 100%;
}

.gallery-section {
    text-align: center;
}

.gallery-section img {
    max-width: 50%;
}

.yvideo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yvideo iframe {}

.spec-section {
    background-color: #1c1c1c;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.applications-section {
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container5 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.applications-section .app-info-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.applications-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.applications-list li {
    width: 33.333%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #6c6c6c;
    margin-top: 20px;
}

.applications-list li .applications-icon {
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.applications-list li .img-object {
    display: inline-block;
    max-height: 100%;
    width: auto;
}

.img-object {
    -o-object-fit: cover;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .card7 {
    flex: 0 0 auto;
    margin-right: 5px;
    margin-left: 50px;
}

.card7 {
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px #CCD9EE8C;
    width: 220px;
    height: 310px;
    background: white;
    position: relative;
    margin-top: 12px;
}

.card7 h4 {
    position: absolute;
    top: 35px;
    left: 12%;
    color: #04aa79;
    font-weight: 400;
    font-size: 14px;
}

.card7 p {
    position: absolute;
    top: 80px;
    left: 6.6%;
    text-align: center;
    margin: auto;
    padding-right: 6.6%;
}

.scrolling-wrapper-flexbox {
    height: auto;
    min-height: 370px;
    width: auto;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.card7:hover {
    box-shadow: 5px 15px 20px #97989b8c;
}

.container4 {
    width: auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 50px;
    height: auto;
}

.prev-next-button {
    margin-bottom: 50px;
    margin-left: 80px;
}

.prev,
.next {
    text-align: center;
    background: #fff;
    padding: 8px 13px;
    border-radius: 50%;
    bottom: 10px;
    left: 46%;
    margin: 8px;
    font-size: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.prev:hover,
.next:hover {
    color: white;
    background-color: #04aa79;
}

.applications h2,
.related-documents h2 {
    margin-left: 5%;
}

.scrolling-wrapper-flexbox .card8 {
    flex: 0 0 auto;
    margin-right: 5px;
    margin-left: 50px;
}

.card8 {
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px #CCD9EE8C;
    width: 310px;
    height: 310px;
    background: white;
    position: relative;
    margin-top: 12px;
}

.card8 h4 {
    position: absolute;
    top: 35px;
    left: 12%;
    color: #04aa79;
    font-weight: 400;
    font-size: 14px;
}

.card8 p {
    position: absolute;
    top: 80px;
    left: 6.6%;
    text-align: center;
    margin: auto;
    padding-right: 6.6%;
}

.card8:hover {
    box-shadow: 5px 15px 20px #97989b8c;
}

.container8 {
    width: auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 50px;
    height: auto;
}

.prev-next-button1 {
    margin-bottom: 50px;
    margin-left: 80px;
}

.prev1,
.next1 {
    text-align: center;
    background: #fff;
    padding: 8px 13px;
    border-radius: 50%;
    bottom: 10px;
    left: 46%;
    margin: 8px;
    font-size: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.prev1:hover,
.next1:hover {
    color: white;
    background-color: #04aa79;
}

.connect {
    margin: 0 auto;
}

.connect h1 {
    padding-top: 2.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 5vw;
    color: white;
    width: fit-content;
}

.connect h1:after {
    content: ' ';
    display: block;
    margin: 0 auto;
    border-bottom: 4px solid white;
    width: 78%;
}

.container6 {
    width: 100%;
    background-image: url("./5.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.left-sec {
    margin-top: 2vh;
    margin-left: 5vw;
    width: 35vw;
    min-width: 290px;
    color: white;
    padding-bottom: 40px;
}

.left-sec h2 {
    margin-left: 5vw;
    padding-top: 30px;
    padding-bottom: 15px;
}

.left-sec p {
    margin-left: 5vw;
    line-height: 26px;
    padding-bottom: 10px;
}

.left-sec button {
    margin-left: 5vw;
    color: #04aa79;
    background-color: white;
    padding: 5px 10px;
    border-radius: 22px;
    border: #04aa79;
    border-style: solid;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 7.5px;
}

.left-sec button:hover {
    color: white;
    background-color: #04aa79;
}

.left-sec button a {
    text-decoration: none;
    color: #04aa79;
}

.left-sec button a:hover {
    color: white;
    background-color: #04aa79;
}

.right-sec {
    margin-top: 110px;
    margin-right: 14vw;
    margin-bottom: 100px;
    margin-left: 16vw;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #D1D7D5;
    border-radius: 20px;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    color: #62668A;
    background-color: #F3F6F6;
}

input[type=submit] {
    color: #04aa79;
    background-color: white;
    padding: 5px 10px;
    border-radius: 22px;
    border: #04aa79;
    border-style: solid;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 7.5px;
    margin-left: 32%;
}

input[type=submit]:hover {
    color: white;
    background-color: #04aa79;
}

.flex-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.card3:nth-child(1) {
    flex: 15%;
}

.card3:nth-child(2) {
    flex: 15%;
}

.card3:nth-child(3) {
    flex: 15%;
}

.card3:nth-child(4) {
    text-align: right;
    flex: 40%;
    margin-right: 25px;
}

.card3:nth-child(4) h5 a {
    color: #00A2EC;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
}

.card3:nth-child(4) h5 {
    color: #00A2EC;
}

.card3:nth-child(4) h4 {
    color: #62668A;
}

.card3:nth-child(4) .social-button1 {
    text-align: center;
    color: #007EBB;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.card3:nth-child(4) .social-button2 {
    text-align: center;
    color: #FF0000;
    background-color: #fff;
    padding: 9px 12px;
    border-radius: 50%;
    font-size: 16px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.social-button {
    position: absolute;
    right: 20px;
    top: 200px;
}

.card3 {
    margin: 50px 5px;
    position: relative;
    padding: 20px;
}

.card3 h4 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.card3 ul li {
    list-style: none;
}

.card3 ul li a {
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    line-height: 33px;
}

.card3 ul li a:hover {
    color: #04aa79
}

.lower-footer {
    background-color: #04AA79;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    margin-top: 10px;
}

</style>