<style>

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

/* SECTION 1 NAVBAR, BACKGROUND IMAGE AND INFORMATION -->*/

.back-image {
    background-image: url("./background-image.png"); /* The image used */
    background-color: #6b7885; /* Used if the image is unavailable */
    width: 100%;
    height: 85vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    align-items:center;
    margin: auto;
    }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.navigation {
  height: 65px;
  background: white;
  width: 85%;
  margin: 0 auto;
}
.arrow{
    text-align: center;
    background: #fff;
    padding: 8px 13px;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    left: 47vw;
    font-size: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.arrow i{
    color: #04aa79;
}
.brand {
  position: absolute;
  padding-bottom: 2px;
  float: left;
  line-height:65px;
}
    .res-image {
        width:11.6vw;
        padding-left:10px;
        height:auto;
        min-width: 145px;
        vertical-align: middle;
    }

 .brand a,.brand a:visited {
    color: black;
    text-decoration: none;
  }
.contact-b span{
    display:inline;
    color: white;
    background-color:#10AF7C;
    border: #10AF7C;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding-top: 3.5px;
    padding-left: 16px;
    padding-right: 16px ;
    padding-bottom: 3.5px;
}
.contact-b span:hover{
    color: #10AF7C;
    background-color: white;
}
.nav-container {
  max-width: 1100px;
  margin: 0 auto;
}

.back-text-container {
  margin-top:17vh;
  margin-left:7.7vw;
  width:32vw;
  min-width: 300px;
  color: white;
}
.back-text-container h1 {
  padding-bottom: 3px;
}
.back-text-container p {
  margin-right:5vw;
  line-height: 26px;
}
.back-text-container button{
  color: #04aa79;
  background-color: white;
  padding: 5px 10px;
  border-radius: 22px;
  border:#04aa79;
  border-style:solid;
  border-width: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: 'Nunito Sans', sans-serif;
  margin-top:7.5px;
}

.back-text-container button:hover{
  color: white;
  background-color: #04aa79;
}
nav {
  float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
      float: left;
      position: relative;
}
nav ul li a, nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 65px;
        background: white;
        color: #384B42;
        font-size: 16.5px;
        font-weight: bold;
        text-decoration: none;
}
nav ul li a:visited:hover {
          background:transparent;
          color: #10AF7C;
        }
nav ul li a:not(:only-child):after {
          padding-left: 2px;
          content: ' ▾';
}
nav ul li ul li {
        min-width: 190px;
}
nav ul li ul li  a {
          padding: 15px;
          line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 65px;
  width: 65px;
}
@media only screen and (max-width: 1100px) {
    .brand{
        position: absolute;
        padding-left: 20px;
        padding-bottom: 2px;
        float: left;
        margin-left: 15px;
        line-height:65px;
    }
    .navigation {
       width: 100%;
       margin: 0 auto;
  }
  .nav-mobile {
    display: block;

  }
  nav {
    width: 100%;
    padding: 65.5px 0 15px;
    position: absolute;
  }
  nav ul {
      display: none;
  }
  nav ul li {
        float: none;
  }
  nav ul li a {
          padding: 15px;
          line-height: 20px;
        }
  nav ul li ul li a {
          padding-left: 30px;
        }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 1101px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 25px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -8px;
  }
  #nav-toggle span:after {
    bottom: -8px;
  }
  #nav-toggle.active span {
    background-color: transparent;
}
 #nav-toggle.active span:before,
 #nav-toggle.active span:after {
      top: 0;
    }
#nav-toggle.active span:before {
      transform: rotate(45deg);
    }
#nav-toggle.active span:after {
      transform: rotate(-45deg);
    }
/* END OF SECTION 1 NAVBAR, BACKGROUND IMAGE AND INFORMATION -->*/









/* 6 CARDS-->*/
.wrapper1{
  width: 99.2%;
  margin: auto;
}

.grid1 {
display:grid;
grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
gap:7vw;
margin-left: auto;
margin-right: auto;
width: 100%;

}
.grid1 > article{
width:310px;
height:330px;
background-color: white;
align-items: center;
border-radius:30px;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 7px 20px #CCD9EE8C;
transition: .4s ease all;
}
.grid1 > article p{
  position: relative;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0;
}
.grid1 > article:hover p{
  opacity: 1;
}
.grid1 > article:hover .card img{
  border: 3px solid #04aa79;
}
.grid1 > article h3 {
  text-align:left;
  margin-left: 30px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.card img {
  background: none;
  border-radius:50%;
  border-width: 3px;
  padding: 5px;
  width:130px;
  height:130px;
  margin:auto;
  text-align: center;
  border-style:solid;
  border-color:#04aa79;
  display:block;
  margin-top:16.7%;
}
.card a {
  display:block;
  text-align: right;
  margin-right:30px;
  margin-top:18%;
  color: #333;
}
.card a i{
  font-size: 25px;
  color: #333;
}
.grid1 > article:hover{
  opacity: 0.7;
}
.grid1 > article:hover{
  background-color: #04aa79;
  z-index: 999;
  color: #fff;
}
.grid1 > article:hover .card a i{
  color: #fff;
}

.container1
{  
margin-top: 5%;
margin-left: auto;
margin-right: auto;
width: 90%;
}
.products h1,.whats-new h1
{
padding-top: 2.5rem;
font-style:normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
letter-spacing: 0;
text-align:left;
margin-left: 5vw;
color:black;
width:fit-content;
}
.products h1:after,.whats-new h1:after {
content: ' ';
display:block;
margin: 0 auto;
border-bottom: 4px solid #04AA79;
width:78%;
}

.products h2, .whats-new h2{
background-color:transparent;
font-style: normal;
font-weight: bold;
font-size: 28.5px;
line-height: 28px;
letter-spacing: 0;
color: #58595B;
text-align:left;
margin-left: 5vw;
margin-top: 15px;

}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  }
  
  .reveal.active{
  transform: translateY(0px);
  opacity: 1;
  }
  /* END OF 6 CARDS  END ->*/









  /* START OF 6 ASSOCIATES SECTION ->*/
  .associates, .customer-stories {
    padding-top: 80px;
    margin:0 auto;
    
    }
    .associates h1,.customer-stories h1{
        padding-top: 2.5rem;
        font-style:normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0;
        text-align:left;
        margin: 0 auto;
        color:black;
        width:fit-content;
    }
    .associates h1:after,.customer-stories h1:after
    {
        content: ' ';
        display:block;
        margin: 0 auto;
        border-bottom: 4px solid #04AA79;
        width:78%;
    }
    .associate-logos{
      display: flex;
      justify-content: center;
      width:70vw;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
    }
    .circle1 {
      width:104px;
      height:104px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #CCD9EE8C;
      opacity: 1;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      margin:50px auto;
  
    }
    .associate-image {
      width: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    /* END OF ASSOCIATES SECTION*/








    /* START OF APPLICATIONS SECTION*/
    .applications h1{
      padding-top: 2.5rem;
      font-style:normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0;
      text-align:left;
      margin-left: 8vw;
      color:black;
      width:fit-content;
  }
  .applications h1:after{
      content: ' ';
      display:block;
      margin: 0 auto;
      border-bottom: 4px solid #04AA79;
      width:78%;
  }
  
  .banner1
  {
  background-image: url("./image15.png");
  background-color: rgb(223, 223, 223);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  align-items:center;
  margin: auto;
  width:100%;
  height:65vh;
  margin: 38px auto;
  opacity: 0.95;

  }

  .grid2
{
display:grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap:5.5vw;
align-items: center;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 100%;
padding-left: auto;
padding-left: auto;


}
.grid2 > div {
width:270px;
height:210px;
align-items: center;
border-radius:27px;
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
box-shadow: 0px 3px 6px #CCD9EE8C;
}

.container2
{  
margin-top: -110px;
margin-left: auto;
margin-right: auto;
width: 63%;
}
.card2 {
  position: relative;
}

.card2:nth-child(1) img {
  width: 19%;
  height:auto;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #00A2EC1F;
  padding: 13px 10px 13px 10px;
  border-radius: 7px;
}
.card2:nth-child(1) h5 {
  position: absolute;
  top: 59px;
  left: 100px;
  color: #00A2EC;
  width: auto;
}
.card2:nth-child(1) p {
  position: absolute;
  top: 95px;
  color: #62668A;
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
  text-justify: left;
  font-size: 13.5px;
  text-align: left;
}

.card2:nth-child(2) img {
  width: 19%;
  height:auto;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #782CE41F;
  padding: 10.5px 10px 10.5px 10px;
  border-radius: 7px;
}
.card2:nth-child(2) h5 {
  position: absolute;
  top: 59px;
  left: 100px;
  color: #782CE4;
  width: auto;
}
.card2:nth-child(2) p {
  position: absolute;
  top: 95px;
  color: #62668A;
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
  text-justify: left;
  font-size: 13.5px;
  text-align: left;
}

.card2:nth-child(3) img {
  width: 19%;
  height:auto;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #1F25591F;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
}
.card2:nth-child(3) h5 {
  position: absolute;
  top: 40px;
  left: 100px;
  text-align: left;
  color: #1F2559;
  width: auto;
}
.card2:nth-child(3) p {
  position: absolute;
  top: 95px;
  color: #62668A;
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
  text-justify: left;
  font-size: 13.5px;
  text-align: left;
}
/* END OF APPLICATIONS SECTION*/






/* START OF WHATS NEW SLIDER SECTION -->*/
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox .card7 {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-left: 20px;
}
.card7 {
  text-align: center;
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius:30px;
  box-shadow: 0px 10px 25px #CCD9EE8C;
  width: 300px;
  height: 300px;
  background: white;
  position: relative;
}
.card7 h2 {
  position:absolute;
  top:10px;
  left:40%;
}
.card7 p{
  position:absolute;
  top:60px;
}
.scrolling-wrapper-flexbox {
  height: auto;
  min-height: 350px;
  width: auto;
  -webkit-overflow-scrolling: touch;
}
 .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }

.container4{
 width:auto;
 margin-right:1vw;
 margin-left:1vw;
 margin-top: 50px;
 height:auto;
}

.prev-next-button{
  margin-bottom: 50px;
  margin-left: 50px;
}
.prev,.next{
  text-align: center;
  background: #fff;
  padding: 8px 13px;
  border-radius: 50%;
  bottom: 10px;
  left: 46%;
  margin: 8px;
  font-size: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.prev:hover,.next:hover{
     color: white;
     background-color: #04aa79;
}
/* END OF WHATS NEW SLIDER SECTION -->*/






/* START OF CUSTOMER REVIEWS SECTION -->*/











/* END OF CUSTOMER REVIEWS SECTION -->*/



/* Start of FOOTER */
.flex-foot{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
 
}
.card3:nth-child(4) {
    text-align: right;
    color: #62668A;
}

.card3{
  margin: 40px 70px;
}
.card3 ul li{
  list-style: none;
}
.card3 ul li a{
  text-decoration: none;




/* END of FOOTER */
</style>